h1 {
    text-align: center;
}

.box-card-main {
    display: flex;
    justify-content: space-between;
}

.card.mb-3 {
    width: 100%;
}

.card.mb-3 .card-header {
    text-align: center;
}

.card.mb-3 .card-header .card-title {
    text-align: center;
}

.charpter-main-box,.verse-main-box {
    display: flex;
    justify-content: center;
    margin: 10px;
    flex-wrap: wrap;
}

.charpter-box,.verse-box {
    padding: 15px;
}